body{
    font-family:"Roboto", sans-serif;
    margin:0px;
}
#slideout-menu{
    background-color: orange;
    /*transition:3s,transform 3s;
    transform:rotate(360deg);*/
    transition:3s;
    position:fixed;
    width:100%;
    text-align:center;
    margin-top:10px;
    opacity:0;
    z-index:-1;
}
#slideout-menu ul{
    list-style-type:none;
    padding:32px;
}
#slideout-menu li{
    padding:8px;
    /*float:right;*/
}
#slideout-menu a{
    color:red;
    font-size:20px;
    font-family: "Roboto Condensed", sans-serif;
    
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
/*-----------nav start------*/
nav{
    position:fixed;
    width:100%;
    background: rgb(114, 108, 108);
    display:flex;
    height:72px;
    /*height:100%;*/
    justify-content:space-between;
    padding:0 16px 0 0;
    /*position:relative;*/
    /*margin: 0px;*//******************************************************/
    top:0px;
    z-index:-100;
    


}
nav ul{
    display:flex;
    /*justify-content:space-between;*/
    align-items:center;
    list-style-type:none;
    margin:0;
    /*height:72px;*/
    height:100%;
    background-color: mediumaquamarine;
    
    
}/*
nav li{
    margin-right:20px;
}
*/
nav a{
    padding-right:30px;
    
}
nav a:hover{
    color:yellow;
}
.active{
    color:red;
}
#logo-img{
    display:flex;
    background-color: mediumseagreen;
    padding:0 32px;
    align-items:center;
    color:white;
    transition:3s;

    height:100%;/*////*/

    height:100%;

}
#logo-img img{
    height:100px;
}
#logo-img:hover{

    background-color: brown;
}
#menu-icon{
    font-size:28px;
    background-color: chartreuse;
    padding:0 14px;
    height:100%;
    width:100%;
    align-items:center;
    display:flex;
    justify-content:center;


    background-color: aqua;

}
#menu-icon{
    background-color: crimson;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}
#menu-icon:hover{
    color:red;
    background-color: cyan;
    transition:2s;
}
#search-icon{
    color:green;
    padding-right:30px;
}
#search-icon:hover{
    color:red;
}
/*----------nav end---------*/

/*-----------searchbox............*/

#searchbox{
    position:fixed;/****************************************************************************/
    background-color: deeppink;
    height:100px;
    width:500px;
    right:0;
    top:14px;
    pointer-events:none;
    z-index:50;
}
#searchboxx{
    position:fixed;
    background-color: firebrick;
    height:200px;
    width:500px;
    right:0;
}
#searchbox input{
    width:100%;
    height:48px;
}
/*------------searchbox end---------*/

main{
    /*margin:0 auto;*/
    margin-left:30px;
}
.page-heading{
    font-size:32px;
    font-family:sans-serif;
    border-left:3px solid red;
    border-right:3px solid red;
    transition:3s;
    margin-top:120px;
    padding:4px 32px;
    display:inline-block;
    /*display:block;
    display:flex;*/
    background-color: gold;
    /*width:250px;*/
   /* margin-left:100px;*/
  /* position:relative;
   top:0px;*/
}
.page-heading:hover{
    background-color: navy;
    padding:0px 50px;
}
#post-container{
    display:flex;
}
#blogpost{
    display:flex;
    flex-direction:column;
    width:70%;
    border-left:2px solid red;
    
}/*
#blogpost, .card{
    width:100%;

}*/
.card-image{
    transition:3s;
}
.card-image:hover{
    box-shadow:10px 10px yellow;
    
}
.card-description{
    background-color: palevioletred;
    padding:0 20px;
}
.card-image img{
    width:100%;
}

#sidebar{
    background:greenyellow;
    flex:1;
    padding:8px 19px;
    color:white;
    box-shadow:inset 27px 0 51px -18px rgba(0,0,0,0.75);
    /*box-shadow:10px 10px red;*/
}

/*********************************footer******************/
footer{
    display:flex;
    background-color: hotpink;
    padding:10px;
    color:yellow;
}
footer a{
    color:green;
}
footer #right-footer{
    flex:2;
    padding:10px;
    text-align:center;
}
footer #left-footer{
    flex:1;
    border-right:1px solid blue;
    padding-left:32px;
}/*
footer #right-footerr{
    flex:1;
}*/
footer #left-footer ul{
    list-style-type:none;
    line-height:1.5;
    background-color: indigo;
    /*padding:0;*/
}
.fa-facebook,.fa-youtube,.fa-github{
    color:white;
    transition:3s;
}
footer #social-media-footer ul{
    display:flex;
    list-style-type:none;
    justify-content:center;
    
}
footer #social-media-footer ul li{
    font-size:48px;
    padding:16px;
    transition:3s;
}
.fa-facebook:hover{
    color:blue;

}
.fa-youtube:hover{
    color:red;
}
.fa-github:hover{
    color:grey;
}
